.featuredPlants{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    .title{
        text-align: center;
        font-size: var(--font-size-heading);
    }
    .plantsList{
        display: flex;
        gap: 10px;
        margin-top: 2rem;
    }
}