.navbar{
    position: fixed;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 1rem 2rem;
    .links{
        display: flex;
        gap: 1rem;
        list-style: none;
    }
    .logoSection{
        display: flex;
        align-items: center;
        gap: 0.25rem;
        font-weight: 600;
    .logoName{
        font-size: 24px;
    }
}
.menu{
    display: none;
}
@media screen and (max-width: 767px) {
                padding: 1rem ;
                .links{
                    display: none;
                }
                .menu{
                    display: block;
                }
}
}