.aboutDescription{
    padding: 1rem 3rem;
    h1{
        font-size: var(--font-size-heading);
        padding-bottom: 1rem;
        font-weight: 400;
        text-align: center;
    }
    @media screen and (max-width: 767px) {
        padding: 1rem;
    }
}