.navbar {
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: white;
  padding: 1rem 2rem;
  .wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .links {
      display: flex;
      gap: 2rem;
      list-style: none;
      align-items: center;
      display: flex;
      li:hover {
        color: var(--green);
      }
    }
    .logoSection {
      display: flex;
      align-items: center;
      gap: 0.25rem;
      font-weight: 600;
      .logoName {
        font-size: 24px;
        color: var(--green);
      }
    }
  }
  .menu {
    display: none;
  }
  @media screen and (max-width: 767px) {
    padding: 1rem;
    .wrapper {
      flex-direction: column;
      .links {
        display: none;
        flex-direction: column;
        width: 100%;
        height: 100dvh;
        gap: 2rem;
        li {
          width: 100%;
          text-align: center;
        }
      }
      .visible{
        display: flex;
        margin-top: 4rem;
      }
      a {
        width: 100%;
        .logoSection {
          width: 100%;
          text-align: left;
        }
      }
    }
    .menu {
      display: block;
      position: fixed;
      top: 1.25rem;
      right: 1rem;
    }
  }
}
